<template>
  <div>
    <h3 class="mb-5">Book Listing</h3>
    <div id="alert" class="alert" :class="`alert-${alert.type}`" role="alert">
      {{ alert.message }}
    </div>

    <div class="font-weight-bold h5">Search</div>
    <div class="row d-flex justify-content-between">
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control" placeholder="Book name" aria-label="Book name" v-model="filter['search[name]']">
      </div>
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control" placeholder="From year" aria-label="From year" v-model="filter['search[from_year]']">
        <span class="form-text text-sm text-danger">{{ errors.fromYear }}</span>
      </div>
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control" placeholder="To year" aria-label="To year" v-model="filter['search[to_year]']">
        <span class="form-text text-sm text-danger">{{ errors.toYear }}</span>
      </div>
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control" placeholder="Author name" aria-label="Author name" v-model="filter['search[author][name]']">
      </div>
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control" placeholder="Author genre" aria-label="Author genre" v-model="filter['search[author][genre]']">
      </div>
      <div class="col-md-3 mb-2">
        <input type="text" class="form-control" placeholder="Library name" aria-label="Library name" v-model="filter['search[library][name]']">
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-primary" @click.prevent="getList()">Search</button>
    </div>

    <div class="text-right mt-4">
      <button class="btn btn-success mb-3 ml-5" @click="showAddModal">Add book</button>
    </div>

    <table class="table table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col">Book Name</th>
          <th scope="col" style="min-width: 100px">Book Year</th>
          <th scope="col" style="min-width: 150px">Author Name</th>
          <th scope="col" style="min-width: 150px">Author Genre</th>
          <th scope="col">Library Name</th>
          <th scope="col" class="text-center" style="min-width: 150px">Actions</th>
        </tr>
      </thead>
      <tbody v-if="bookList && bookList.length">
        <tr v-for="book in bookList" :key="book.id">
          <td>{{ book.name }}</td>
          <td class="text-center">{{ book.year }}</td>
          <td>{{ book.author.name }}</td>
          <td>{{ book.author.genre }}</td>
          <td>
            <span v-for="(lib, index) in book.library" :key="lib.id">
              {{ lib.name }} - {{ lib.address }}
              <span v-if="index !== book.library.length - 1">, </span>
            </span>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-sm btn-warning" @click="showEditModal(book)">Edit</button>
            <button type="button" class="btn btn-sm btn-danger" @click="showDeleteModal(book)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav class="mt-3 float-right">
      <ul class="pagination" v-if="pagination">
        <li class="page-item" v-if="pagination.first" @click="toPage(pagination.first)"><button class="page-link">First</button></li>
        <li class="page-item" v-if="pagination.prev" @click="toPage(pagination.prev)"><button class="page-link">Previous</button></li>
        <li class="page-item" v-if="pagination.next" @click="toPage(pagination.next)"><button class="page-link">Next</button></li>
        <li class="page-item" v-if="pagination.last" @click="toPage(pagination.last)"><button class="page-link">Last</button></li>
      </ul>
    </nav>

    <div class="modal" tabindex="-1" id="addBookModal">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ modalTitle }}</h5>
            <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close" @click="addBookModal.hide()"></button>
          </div>
          <div class="modal-body">
            <add-book-form :isLoading="isLoading" v-model="selectedBook"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="addBookModal.hide()">Close</button>
            <button type="button" class="btn btn-primary" @click="submit" :disabled="isLoading">{{ submitLabel }}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" id="deleteBookModal">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete book</h5>
            <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close" @click="deleteBookModal.hide()"></button>
          </div>
          <div class="modal-body" v-if="selectedBook">
            <div class="font-weight-bold">Are you sure you want to delete this book ?</div>
            <ul class="m-0">
              <li>Name: {{ selectedBook.name }}</li>
              <li>Year: {{ selectedBook.year }}</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="deleteBookModal.hide()">Close</button>
            <button type="button" class="btn btn-danger" @click="deleteBook">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { createBook, deleteBook, editBook, getBookList } from "../apis/bookApis";
import { DEFAULT_ALERT_TIMEOUT, INITIAL_FILTER } from "../constants";

export default {
  name: "BookListing",
  components: {
    AddBookForm: () => import("../components/AddBookForm")
  },
  data() {
    return {
      bookList: [],
      addBookModal: undefined,
      deleteBookModal: undefined,
      modalMode: undefined,
      selectedBook: undefined,
      filter: INITIAL_FILTER,
      pagination: undefined,
      errors: {
        fromYear: '',
        toYear: '',
      },
      isLoading: false,
      alert: {
        message: '',
        type: ''
      }
    }
  },
  created() {
    this.getList();
  },
  computed: {
    submitLabel() {
      if (this.isLoading) return 'Loading ...';
      return this.modalMode === 'Add' ? 'Add' : 'Save changes';
    },

    modalTitle() {
      return this.modalMode === 'Add' ? 'Add book' : 'Edit book';
    }
  },
  mounted() {
    this.addBookModal = new bootstrap.Modal(document.getElementById('addBookModal'));
    this.deleteBookModal = new bootstrap.Modal(document.getElementById('deleteBookModal'));
    this.alert = new bootstrap.Alert(document.getElementById('alert'));
  },
  methods: {
    async getList(url) {
      try {
        this.errors = {
          fromYear: '',
          toYear: ''
        }
        if (parseInt(this.filter["search[from_year]"], 10) < 1000 || parseInt(this.filter["search[from_year]"], 10) > 2020) {
          this.errors.fromYear = "From year must in range of 1000 to 2020";
        }
        if (parseInt(this.filter["search[to_year]"], 10) < 1000 || parseInt(this.filter["search[to_year]"], 10) > 2020) {
          this.errors.toYear = "To year must in range of 1000 to 2020";
        }
        if (this.errors.fromYear || this.errors.toYear) return;
        const { data: { data, links } } = await getBookList(url, this.filter);
        this.bookList = data
        this.pagination = links;
      } catch (e) {
        console.log(e)
        this.showAlert({type: 'danger', message: 'Get book list failed'});
      }
    },

    showAddModal() {
      this.modalMode = 'Add';
      this.selectedBook = undefined;
      this.addBookModal.show();
    },

    showEditModal(book) {
      this.modalMode = 'edit';
      this.selectedBook = book;
      this.addBookModal.show();
    },

    showDeleteModal(book) {
      this.selectedBook = book;
      this.deleteBookModal.show();
    },

    showAlert(alert) {
      this.alert = alert;
      setTimeout(() => {
        this.alert = { type: '', message: '' };
      }, DEFAULT_ALERT_TIMEOUT)
    },

    async addBook() {
      try {
        this.isLoading = true;
        await createBook(this.selectedBook);
        this.showAlert({type: 'success', message: 'Add book successfully'});
      } catch (e) {
        this.showAlert({type: 'danger', message: 'Add book failed'});
      } finally {
        this.isLoading = false;
        this.addBookModal.hide();
        await this.getList();
      }
    },

    async editBook() {
      try {
        this.isLoading = true;
        await editBook(this.selectedBook);
        this.showAlert({type: 'success', message: 'Edit book successfully'});
      } catch (e) {
        this.showAlert({type: 'danger', message: 'Edit book failed'});
      } finally {
        this.isLoading = false;
        this.addBookModal.hide();
        await this.getList();
      }
    },

    async deleteBook() {
      try {
        this.isLoading = true;
        await deleteBook(this.selectedBook.id);
        this.showAlert({type: 'success', message: 'Delete book successfully'});
      } catch (e) {
        this.showAlert({type: 'danger', message: 'Delete book failed'});
      } finally {
        this.isLoading = false;
        this.deleteBookModal.hide();
        await this.getList();
      }
    },

    submit() {
      if (this.modalMode === 'Add') {
        this.addBook()
      } else {
        this.editBook()
      }
    },

    toPage(link) {
      this.getList(link);
    }
  }
}
</script>
