<template>
  <form v-if="data">
    <div class="font-weight-bold h5">Book</div>
    <hr>
    <div class="mb-3">
      <label for="bookName" class="form-label">Name</label>
      <input type="text" class="form-control" id="bookName" aria-describedby="bookName" v-model="data.name"
             @blur="validate('name')" :disabled="isLoading" required>
      <div class="form-text text-danger">{{ errors.name }}</div>
    </div>
    <div class="mb-3">
      <label for="bookYear" class="form-label">Year</label>
      <input type="text" class="form-control" id="bookYear" aria-describedby="bookName" v-model="data.year"
             @blur="validate('year')" :disabled="isLoading" required>
      <div class="form-text text-danger">{{ errors.year }}</div>
    </div>

    <div class="font-weight-bold h5 mt-3">Author</div>
    <hr>
    <author-selector ref="authorSelector" v-model="data.author"/>
    <div class="d-flex align-items-center justify-content-between mt-3">
      <span>Or create a new author</span>
      <button class="btn btn-success float-right" @click.prevent="newAuthor">New author</button>
    </div>
    <div class="mb-3">
      <label for="authorName" class="form-label">Name</label>
      <input type="text" class="form-control" id="authorName" aria-describedby="bookName" v-model="data.author.name" :disabled="!!data.author.id || isLoading" required>
    </div>
    <div class="mb-3">
      <label for="authorBirthDate" class="form-label">Year</label>
      <input type="text" class="form-control" id="authorBirthDate" aria-describedby="bookName" v-model="data.author.birth_date" :disabled="!!data.author.id || isLoading" required>
    </div>
    <div class="mb-3">
      <label for="authorGenre" class="form-label">Genre</label>
      <input type="text" class="form-control" id="authorGenre" aria-describedby="bookName" v-model="data.author.genre" :disabled="!!data.author.id || isLoading" required>
    </div>

    <div class="font-weight-bold h5">Library</div>
    <hr>

    <div class="d-flex align-items-center justify-content-between mb-3">
      <library-selector v-model="selectedLibrary" />
      <button class="btn btn-success ml-5" @click.prevent="addExistingLibrary">Add</button>
    </div>

    <div class="p-3 border mb-3" v-for="(lib, index) in data.library" :key="index">
      <button class="btn btn-close float-right" @click="removeLibrary(lib)"></button>
      <div class="mb-3">
        <label :for="`libraryName${index}`" class="form-label">Name</label>
        <input type="text" class="form-control" :id="`libraryName${index}`" aria-describedby="libraryName" v-model="lib.name" :disabled="!!lib.id || isLoading" required>
      </div>
      <div class="mb-3">
        <label :for="`libraryAddress${index}`" class="form-label">Address</label>
        <input type="text" class="form-control" :id="`libraryAddress${index}`" aria-describedby="libraryAddress" v-model="lib.address" :disabled="!!lib.id || isLoading" required>
      </div>
    </div>
    <button class="btn btn-success float-right" @click.prevent="addLibrary">Add more library</button>
  </form>
</template>

<script>
import { INITIAL_BOOK, INITIAL_AUTHOR } from "../constants";

export default {
  data() {
    return {
      data: INITIAL_BOOK,
      selectedLibrary: undefined,
      errors: {
        name: '',
        year: ''
      }
    }
  },
  props: ['value', 'isLoading'],
  components: {
    AuthorSelector: () => import("../components/AuthorSelector"),
    LibrarySelector: () => import("../components/LibrarySelector")
  },
  computed: {
    hasErrors() {
      return Object.values(this.errors).some(errString => !!errString);
    }
  },
  methods: {
    validate(fieldName) {
      this.errors[fieldName] = !this.data[fieldName] ? 'This field is required' : '';
      if (fieldName === 'year') {
        if (parseInt(this.data.year, 10) < 1000 || parseInt(this.data.year, 10) > 2020) {
          this.errors.year = "Book year must in range of 1000 to 2020";
        }
      }
    },

    addLibrary() {
      const newLibrary = { name: '', address: ''};
      this.data.library.push(newLibrary);
    },

    addExistingLibrary() {
      if (!this.data.library.find(lib => lib.id === this.selectedLibrary.id)) {
        this.data.library.unshift(this.selectedLibrary);
      }
    },

    newAuthor() {
      this.data.author = INITIAL_AUTHOR;
      this.$refs.authorSelector.reset();
    },

    removeLibrary(item) {
      const index = this.data.library.indexOf(item)
      if (index > -1) {
        this.data.library.splice(index, 1);
      }
    }
  },
  watch: {
    value: function syncValue(val) {
      if (val) this.data = this.value
      else this.data = INITIAL_BOOK;
    },

    data: {
      deep: true,
      handler: function syncData(val) {
        this.$emit('input', val);
      }
    }
  }
}
</script>
