<template>
  <select class="form-control" aria-label="Select author from a list" v-model="selected">
    <option disabled selected>Select author from a list</option>
    <option v-for="author in list" :key="author.id" :value="author" :selected="author.id === selected.id">
      {{ author.name }}
    </option>
  </select>
</template>

<script>
import { getAuthorList } from "../apis/authorApis";
import { INITIAL_AUTHOR } from "../constants";

export default {
  data() {
    return {
      list: [],
      selected: INITIAL_AUTHOR
    }
  },
  props: ['value'],
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      try {
        const { data: { data }} = await getAuthorList();
        this.list = data;
      } catch (e) {
        console.log(e)
      }
    },

    reset() {
      this.selected = INITIAL_AUTHOR;
    }
  },
  watch: {
    value: function fetchValue(val) {
      this.data = val;
    },

    selected: function updateData(val) {
      this.$emit('input', val);
    }
  }
}
</script>