<template>
  <select class="form-control" aria-label="Select libraries from a list" v-model="selected">
    <option disabled selected>Select libraries from a list</option>
    <option v-for="library in list" :key="library.id" :value="library" :selected="library.id === selected.id">
      {{ library.name }}
    </option>
  </select>
</template>

<script>
import { INITIAL_LIBRARY } from "../constants";
import { getLibraryList } from "../apis/libraryApis";

export default {
  data() {
    return {
      list: [],
      selected: INITIAL_LIBRARY
    }
  },
  props: ['value'],
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      try {
        const { data: { data }} = await getLibraryList();
        this.list = data;
      } catch (e) {
        console.log(e)
      }
    },
  },
  watch: {
    value: function fetchValue(val) {
      this.data = val;
    },

    selected: function updateData(val) {
      this.$emit('input', val);
    }
  }
}
</script>